<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>weather</ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let weather of climate; let i = index">
    <ion-img alt="weather-symbol" src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png" style="width:20%;"/>
    <ion-card-header>
      <ion-card-title>{{weather.list.main}}</ion-card-title>
      <ion-card-subtitle>{{weather.list.description}}</ion-card-subtitle>
      <!--ion-card-subtitle>{{country.tld.cca3}}</ion-card-subtitle//-->
    </ion-card-header>
  
    <ion-card-content>
      <!--p>{{country.array}}</p//-->
      <!--input (ionChange)="setCCA2_2(this.cca2Val)" [(ngModel)]="cca2Val" value="{{country.cca2}}"//-->
      <!--ion-input #my{{country.cca2}} value="{{country.cca2}}"></ion-input//-->
      <!--input [hidden]=hidden #myCCA2_i value="{{country.cca2}}"//-->
      <!--ion-button (click) = "setCCA2(i)" [routerLink]="['/news']" expand="block" fill="outline">News</ion-button>
      <ion-button (click) = "setCapital(i)" [routerLink]="['/weather']" expand="block" fill="outline">Weather</ion-button//-->
    </ion-card-content>
  </ion-card>
</ion-content>
