<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>news</ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5 [hidden]="hidden" style="padding-left:20px;">No news found for<br>{{countryName}}</h5>
  <h5 [hidden]="!hidden" style="padding-left:20px;">News for<br>{{countryName}}</h5>
  <ion-card *ngFor="let news of allNews; let i = index">
    <ion-img *ngIf="news.image_url" src="{{news.image_url}}" style="width:100%;" (error)="onImageError(i)" />
    <ion-card-header>
      <ion-card-title>{{news.title}}</ion-card-title>
      <ion-card-subtitle>{{news.description}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <a href="{{news.link}}" style="font-size:small">Go to original report</a>
    </ion-card-content>
  </ion-card>
</ion-content>
