<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selUnit" style="position:absolute; left:10px;" (ionChange)="setUnit($event.detail.value)">
    <ion-radio value="metric" labelPlacement="fixed">Metric</ion-radio><br /><br />
    <ion-radio value="standard" labelPlacement="fixed">Standard</ion-radio><br /><br />
    <ion-radio value="empirial" labelPlacement="fixed">Empirial</ion-radio>
  </ion-radio-group>
</ion-content>
